.button {
  border-radius: 4px;
  border: 1px solid;
  color: theme("colors.white");
  min-width: 80px;

  transition-property: color, background-color, border-color;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.button.danger {
  background-color: theme("colors.red.400");
  border-color: theme("colors.red.500");

  &:active,
  &:hover {
    background-color: theme("colors.red.500");
  }
}

.button.info {
  background-color: theme("colors.sky.400");
  border-color: theme("colors.sky.500");

  &:active,
  &:hover {
    background-color: theme("colors.sky.500");
  }
}

.button.light {
  background-color: theme("colors.slate.100");
  border-color: theme("colors.slate.700");
  color: theme("colors.slate.700");

  &:active,
  &:hover {
    background-color: theme("colors.slate.200");
  }
}

.button.primary {
  background-color: theme("colors.blue.400");
  border-color: theme("colors.blue.500");

  &:active,
  &:hover {
    background-color: theme("colors.blue.500");
  }
}

.button.secondary {
  background-color: theme("colors.gray.400");
  border-color: theme("colors.gray.500");

  &:active,
  &:hover {
    background-color: theme("colors.gray.500");
  }
}

.button.success {
  background-color: theme("colors.green.400");
  border-color: theme("colors.green.500");

  &:active,
  &:hover {
    background-color: theme("colors.green.500");
  }
}

.button.warning {
  background-color: theme("colors.yellow.400");
  border-color: theme("colors.yellow.500");

  &:active,
  &:hover {
    background-color: theme("colors.yellow.500");
  }
}

.button.sm {
  font-size: 14px;
  line-height: 14px;
  height: 28px;
  padding: 4px;
}

.button.md {
  font-size: 16px;
  line-height: 16px;
  height: 36px;
  padding: 8px;
}

.button.lg {
  font-size: 18px;
  line-height: 18px;
  height: 44px;
  padding: 12px;
}

.button.loading,
.button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button:focus {
  outline: none;
  border: 1px solid theme("colors.blue.700");
}
